In [19]:
import pandas as pd
import geopy

In [35]:
#reading file into a dataframe
file = "clean_data.csv"
df = pd.read_csv(file)
df.columns

Index(['API', 'Longitude', 'Latitude', 'Well Type', 'Operator',
       'Operator (Original)', 'Sub-play', 'County', 'First Production Date',
       'Vertical Depth (m)', 'Measured Depth (m)', 'Lateral Length (m)',
       'Drilling Days (days)', 'Drilling Speed (m/day)', 'Proppant (kg)',
       'API Gravity (degree)', 'Well Cost Total (US$)', 'Rig Cost (US$)',
       'Casing Cost (US$)', 'Water Cost (US$)', 'Proppant Cost (US$)',
       'Pumping Cost (US$)', 'Other Cost (US$)', 'Cum180 Oil (bbl)',
       'Cum365 Oil (bbl)', 'Cum180 Gas (mcf)', 'Cum365 Gas (mcf)'],
      dtype='object')

In [88]:
df.isnull().any()
for column in columns:
    df_subset[column].fillna(df_subset.groupby("Sub-play")[column].transform("mean"), inplace=True)
df_subset

API                       False
Longitude                 False
Latitude                  False
Well Type                 False
Operator                  False
Operator (Original)       False
Sub-play                  False
County                    False
First Production Date     False
Vertical Depth (m)        False
Measured Depth (m)        False
Lateral Length (m)        False
Drilling Days (days)      False
Drilling Speed (m/day)    False
Proppant (kg)             False
API Gravity (degree)      False
Well Cost Total (US$)      True
Rig Cost (US$)             True
Casing Cost (US$)          True
Water Cost (US$)           True
Proppant Cost (US$)        True
Pumping Cost (US$)         True
Other Cost (US$)           True
Cum180 Oil (bbl)          False
Cum365 Oil (bbl)          False
Cum180 Gas (mcf)          False
Cum365 Gas (mcf)          False
dtype: bool

In [71]:
#Overview of Eagle Ford Play
summary = df.groupby(['Sub-play'])['Operator', "API"].nunique()
summary = summary.rename(columns = {"API": "Well count", "Operator": "Operator Count"})
summary

                      Operator Count  Well count
Sub-play
Black Oil                         76        4164
Edwards Condensate                24        2939
Hawkville Condensate              29        2687
Karnes Trough                     30        3643
Maverick Condensate               21        3115
Maverick Oil                      17         146
Northeast Oil                     21         404
Other Eagle Ford                  11          33
Southeast Gas                      5          45
Southwest Gas                     15         696

In [81]:
avg_cost_well = df.groupby(["Sub-play"])["Well Cost Total (US$)"].mean()
avg_cost_well

Sub-play
Black Oil               6.616557e+06
Edwards Condensate      7.352757e+06
Hawkville Condensate    7.286108e+06
Karnes Trough           7.205512e+06
Maverick Condensate     6.653161e+06
Maverick Oil            6.445103e+06
Northeast Oil           7.574177e+06
Other Eagle Ford                 NaN
Southeast Gas           7.884221e+06
Southwest Gas           8.171592e+06
Name: Well Cost Total (US$), dtype: float64

In [70]:
#Overview of Eagle Ford Play
summary = df.groupby(['Sub-play'])['Operator', "API"].nunique()
summary = summary.rename(columns = {"API": "Well count", "Operator": "Operator Count"})


#Calculating summary statistics for each sub-play

#Then list (in a table): Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value
a = {'Operator': {'Operator': 'count', 'Well per operator' : 'Well Cost Total (US$)': {'Avg Well cost': 'mean'}, 'Rig Cost (US$)': {'Avg Rig Cost (US$)':'mean'}, }
profit_items = data.groupby(['Item ID', 'Item Name']).agg(a)
profit_items.columns = profit_items.columns.droplevel()
profit_items = profit_items.sort_values(ascending=False, by = 'Total Purchase Value')[:5]
profit_items[['Item price','Total Purchase Value']] = profit_items[['Item price','Total Purchase Value']].applymap('${:,.2f}'.format)
profit_items
# d = {'Number of unique items': [items], 'Total number of purchases': [purchases], 'Average price': [avr_price], 'Total revenue': [revenue]}
# summary_df = pd.DataFrame(data=d)

# #Adding dollar signs to dollar values 
# summary_df[['Average price', 'Total revenue']] = summary_df[['Average price', 'Total revenue']].applymap('${:,.2f}'.format)
# summary_df

summary
# EAGLEFORD OVERVIEW:
# Visualize:
# 1.	How many sub-plays
# 2.	How many operators 
# 3.	How many wells/operators 

# Descriptive statistics:
# 1.	Avg IP, EUR
# 2.	Avg Development costs 
# 3.	Avg Lateral length
# 4.	Avg proppant

SyntaxError: invalid syntax (<ipython-input-70-114c7a148376>, line 9)

In [29]:
#Getting summary statistics based on sub-play
df.groupby(['Sub-play']).describe()

                         API                                            \
                       count          mean           std           min
Sub-play
Black Oil             4164.0  4.223513e+13  1.246986e+11  4.201334e+13
Edwards Condensate    2939.0  4.221507e+13  7.777820e+10  4.201335e+13
Hawkville Condensate  2687.0  4.228315e+13  9.076113e+10  4.212734e+13
Karnes Trough         3643.0  4.219485e+13  7.596411e+10  4.201334e+13
Maverick Condensate   3115.0  4.227764e+13  1.733210e+11  4.212733e+13
Maverick Oil           146.0  4.225931e+13  1.724015e+11  4.212734e+13
Northeast Oil          404.0  4.208603e+13  9.489068e+10  4.202132e+13
Other Eagle Ford        33.0  4.228053e+13  1.284222e+11  4.204132e+13
Southeast Gas           45.0  4.230575e+13  6.935478e+09  4.229735e+13
Southwest Gas          696.0  4.236842e+13  9.016948e+10  4.228332e+13

                                                                              \
                               25%           50%           75%           max
Sub-play
Black Oil             4.216333e+13  4.228333e+13  4.228335e+13  4.250733e+13
Edwards Condensate    4.212334e+13  4.225533e+13  4.225535e+13  4.231137e+13
Hawkville Condensate  4.228333e+13  4.228336e+13  4.231136e+13  4.247944e+13
Karnes Trough         4.217732e+13  4.217734e+13  4.225533e+13  4.231137e+13
Maverick Condensate   4.212735e+13  4.212737e+13  4.247942e+13  4.247944e+13
Maverick Oil          4.212734e+13  4.212736e+13  4.250733e+13  4.250733e+13
Northeast Oil         4.204132e+13  4.205134e+13  4.205134e+13  4.239532e+13
Other Eagle Ford      4.228932e+13  4.231331e+13  4.239532e+13  4.247130e+13
Southeast Gas         4.229735e+13  4.231135e+13  4.231135e+13  4.231136e+13
Southwest Gas         4.228334e+13  4.231135e+13  4.247942e+13  4.247944e+13

                     API Gravity (degree)                ...      \
                                    count       mean     ...
Sub-play                                                 ...
Black Oil                          4164.0  38.136875     ...
Edwards Condensate                 2939.0  54.142844     ...
Hawkville Condensate               2687.0  47.197735     ...
Karnes Trough                      3643.0  45.067479     ...
Maverick Condensate                3115.0  54.861776     ...
Maverick Oil                        146.0  39.620809     ...
Northeast Oil                       404.0  40.820026     ...
Other Eagle Ford                     33.0  38.833333     ...
Southeast Gas                        45.0  44.320000     ...
Southwest Gas                       696.0  56.434375     ...

                     Water Cost (US$)            Well Cost Total (US$)  \
                                  75%        max                 count
Sub-play
Black Oil                   780767.50  2371979.0                4164.0
Edwards Condensate          513115.50  2159321.0                2939.0
Hawkville Condensate        824724.00  2053880.0                2687.0
Karnes Trough               722191.50  2675230.0                3643.0
Maverick Condensate         719736.50  2638748.0                3115.0
Maverick Oil                571049.75  1417008.0                 146.0
Northeast Oil              1171779.00  2215221.0                 404.0
Other Eagle Ford                  NaN        NaN                   0.0
Southeast Gas               327200.00  1134556.0                  45.0
Southwest Gas               607091.75  1677488.0                 696.0

                                                                         \
                              mean           std        min         25%
Sub-play
Black Oil             6.616557e+06  1.872778e+06  2958439.0  5287904.75
Edwards Condensate    7.352757e+06  1.862570e+06  3368588.0  6040713.50
Hawkville Condensate  7.286108e+06  1.830143e+06  3167849.0  6074108.00
Karnes Trough         7.205512e+06  1.939462e+06  2809775.0  5858839.00
Maverick Condensate   6.653161e+06  1.727769e+06  2890529.0  5546303.50
Maverick Oil          6.445103e+06  1.588546e+06  2849841.0  5503432.00
Northeast Oil         7.574177e+06  1.942671e+06  3810000.0  6460444.25
Other Eagle Ford               NaN           NaN        NaN         NaN
Southeast Gas         7.884221e+06  1.557055e+06  3755556.0  7047283.00
Southwest Gas         8.171592e+06  1.593614e+06  3302698.0  7300385.75


                               50%         75%         max
Sub-play
Black Oil             6.449414e+06  7609946.75  14222798.0
Edwards Condensate    7.352757e+06  8463846.50  14715395.0
Hawkville Condensate  7.198522e+06  8382830.50  15602256.0
Karnes Trough         7.062984e+06  8318955.50  15087636.0
Maverick Condensate   6.553306e+06  7442500.50  13448901.0
Maverick Oil          6.445103e+06  7100819.75  12000000.0
Northeast Oil         7.574177e+06  8349309.50  15224277.0
Other Eagle Ford               NaN         NaN         NaN
Southeast Gas         7.797508e+06  8427675.00  14500525.0
Southwest Gas         8.171592e+06  8814271.00  16000000.0

[10 rows x 168 columns]

In [27]:
subplay_df = df.groupby(["Sub-play"])['Operator'].count()
subplay_df

Sub-play
Black Oil               4164
Edwards Condensate      2939
Hawkville Condensate    2687
Karnes Trough           3643
Maverick Condensate     3115
Maverick Oil             146
Northeast Oil            404
Other Eagle Ford          33
Southeast Gas             45
Southwest Gas            696
Name: Operator, dtype: int64